/* NAVIGATION */
html{
    scroll-behavior: auto smooth;
}
.header{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}



#header h1{
margin-left: 10%;
  margin-right: 10%;
  font-family: 'Times New Roman', Times, serif;

}

.logoimage{
    text-align: center;
    margin: 2% 15% 2% 15%; 
    }

    .logoimagehome{
        text-align: center;
        margin: 1% 30% 1% 30%; 
        }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    #header {
      font-size: 2vw;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    #header {
      font-size: 5vw;
    }
  }





#contactheader{
    padding-top: 5px;
    padding-bottom: 5px;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    overflow: hidden;
    /* background-color:  rgba(255, 255, 255, 0.803);
    border-radius: 8px; */
}
ul.topnav li {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}


  
ul.topnav li a {
    display: block;
    color: #ffffffc2;
    font-family: karla;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    ul.topnav li a {
      font-size: 4vw;
    }
  }


.topnavmargin{
    margin-bottom: 40px;
}






ul.footer {
    list-style-type: none;
    margin: 2%;
    padding: 5px 10px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}
ul.footer li {
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    
    
}
.border{
    box-sizing: border-box;
    border-top: 2px solid white;
}


ul.footer li a {
    box-sizing: border-box;
    display: block;
    color: #ffffffc2;
    font-family: karla;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul.footer li.right {
    float: right;
}
  
#logonohover a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}






/* .phone:hover{
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 8px;
} */


ul.topnav li a:hover:not(.active) {
    /* background-color: #0b1877f1; */
    color: white;
    /* border-radius: 8px; */
    border-bottom: 2px solid white;
}

  
ul.topnav li a.active {
    list-style-type: none;
    color: white;
    border-bottom: 4px solid white;
}

#phone{
    box-sizing: border-box;
    padding: 10px 20px;
}
#phone:hover{
    background-color: rgba(255, 255, 255, 0.372);
    border: 1px solid white;
}

/* #phone a:hover:not(.active) {
    background-color: rgb(85, 5, 5);
    border: none;
} */

.phone{
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 8px;
}
  
ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    .fullimage{
        background-size: cover;
    background-attachment: scroll;
    background-position: center;
    }
}


  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li{float: none;
        ul.topnav li.right, 
    }
}

@media screen and (max-width: 600px) {
    ul.footer li.right, 
    ul.footer li{float: none;
        ul.footer li.right, 
    }
}



/* FOOTER */
#copyright{
    font-size: 8px;
    font-style: italic;
}
.home2footer{
position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* #footer{
    font-weight: bold;
    margin: 0px;
    padding: 0px;

} */

ul.footer {
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0;
    overflow: hidden;
}

ul.footer li {float: left;
    padding: 14px;}


@media screen and (max-width: 600px) {
    ul.footer li {float: none;}
}




/* BUTTONS AND LINKS */
a:visited {
    color: #121f83;
  }

a {
   text-decoration:none;
   color: #121f83;
}

.button {
    background-color: white;
    border: none;
    color:#121f83;
    padding: 15px 30px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: karla;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}


.button:hover {
    box-shadow: 0 12px 16px 0 #00000037, 0 17px 50px 0 #00000037;
}

.active {
    color: white;
}

.headimagesection{
   
    padding: 0px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    /* margin-bottom: 10px;
    margin-top: 10px; */

}


/* IMAGES */

@media screen and (max-width: 767px) {
    .brandImage, .casestudyimage1, .casestudyimage1head, .casestudyimage2, .casestudyimage2head {background-attachment: initial;}
}

.fullimage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 5px;
}

.fullimagetest{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat bottom; 
    height: 100px;
    background-position: center;

}

.fullimage2{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    height: 50%;
    background-size: cover;
    background-position: center;
}


.footerImage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 15px;
    margin-top: 15px;
   
}

.home2head{
    text-align: center;
    font-family: karla;
    color: #ffffff;

}

.brandImage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
 }


.casestudyimage1{
    background: url(./IMAGES/CaseStudy01.jpg); 
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px; 
}


 .casestudyimage1head{
    background: url(./IMAGES/./CaseStudy01\ head.jpg); 
    background-color: #cccccc;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: karla;
    color: #ffffff;
 }

 .hero-imagecap {
    background-image: url(./IMAGES/DemeconCOVER.jpg);
    background-color: #cccccc;
    padding: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.casestudyimage2{
    background: url(./IMAGES/CaseStudy02.jpg); 
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.casestudyimage2head{
    background: url(./IMAGES/./CaseStudy02\ head.jpg); 
    background-color: #cccccc;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: karla;
    color: #ffffff;
 }

 .australia{
    background-image: url(./IMAGES/AUSTRALIA.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* TEXT */


@font-face {
    font-family: karla;
    src: url(./FONTS/Karla-Regular.ttf);
}
#logo{
    font-size: 70px;
    font-weight: bold;
    padding: 0px;
}

.sectionheading{
    font-size: 50px;
    color: white;
    text-align: center;
    
}

.indexsectionheading{
    font-size: 50px;
    color: #0a1674;
    text-align: center;
    
}

.subheading1{
    font-size: 30px;
}
body{
    margin: 0;
    font-family: karla;
}

.blurb {
    color: #0b113c;
    font-family: karla;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    /* padding-left: 90px;
    padding-right: 90px; */
    font-size: 16px;
}

.quote {
    color: #121f83;
    font-family: karla;
    text-align: left;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}
.introquote {
    color: white;
    font-family: karla;
    text-align: center;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.triangleBullet {
    list-style-image: url(./IMAGES/TriangleBullet.png);
  }

.triangleBulletupper {
    list-style-image: url(./IMAGES/TriangleBullet.png);
  }

.triangleBulletupper li {
    text-transform: uppercase;
    padding: 5px;
    margin-left: 2%;
}

span.a {
    display: inline-block;
}

h2, h3{
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 15px;
}
p{
    color: white;
}
h1, h3 {
   padding: 0;
   margin: 0;
}



h2{
    font-size: 40px;
    padding: 10px;
}



.footerimage{
    padding-top: 1px;
}

/* INFOMRATION */

/* @media screen and (max-width: 600px) {
    .infowrapper {float: none;}
} */

.field{
    background-color: #121f8348;
    padding: 10px 10% 10px 10px ;
    text-align: left;
    border-radius: 8px;  
    font-size: 15px;  
    font-family: karla;
}

.light{
    color: gray;
    font-size: 15px;
    font-family: karla;
}
@media screen and (max-width: 600px) {
.field{
    font-size: 3vw;
}
}

.infowrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px;
    background-color: #fff;
    color: #444;
    margin-bottom: 15px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.b {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.c {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.d {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.center {
    margin: auto;
    width: 80%;
  }

  #centerbuttons { 
   text-align: center;
  }


  /* cards */

  
  /* Container for flexboxes */
  .icons {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }

  .icons img{
      height: 30px;
      /* width: 30px; */
      margin-right: 5px;
  }

  .iconcolumn {
    flex: 15%;
    color: #071159;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    
  }

  .img-valign {
    vertical-align: middle;
    padding: 5px;
  }

  .iconcolumn:hover{
    background-color: rgba(255, 255, 255, 0.562);
  }

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .iconcolumn {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .icons {
      flex-direction: column;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin: 15px;
  }


  .contactcolumn {
    flex: 45%;
    color: #071159;
    background-color: rgba(220, 219, 226, 0.769);
    /* border-radius: 10px; */
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    padding: 8px 15px;
    height: auto;
  }

  .contact img{
    height: 30px;
    /* width: 30px; */
    margin-right: 5px;
}

.intro{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.indexintro{
margin: 2% 8% 2% 8%;
font-size: 20px;
color: #0a1674;
text-align: center;
}

.indexintroquote {
    color: #0a1674;
    font-family: karla;
    text-align: center;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 600px) {
.indexintroquote {font-size: 7vw;}
}

@media screen and (max-width: 600px) {
    .quote {font-size: 7vw;}
    }

.prcontact {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* justify-content: center; */
    box-sizing: border-box;
    /* margin: 2% 5%; */

  }


  .prcontactcolumn {
    flex: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  .prcontactcolumnimg{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    justify-content: center;
}

.prcontactcolumntext {
    flex: 45%;
    background-color: rgb(255, 255, 255);
    
  }


  .prcontactcolumntext h3{
    font-size: 30px;
    color: rgb(32, 15, 133);
  }




.servicescolumn {
    height: 10em;
    float: left;
    margin: 0.2%;
    width: 32.8%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #1217ae;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .servicescolumn {
        height: 3em;
    }
  }
  


  .servicesrow{
      margin: 0 5% 0 5%;
text-align: center;
  }
  /* Clear floats after the columns */
  .servicesrow:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .servicescolumn {
      width: 100%;
    }
  }
  .servicescolumn:hover{
      background-color: rgba(255, 255, 255, 0.68);
      color: #0a1674;

  }

.break{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2% 0 4% 0;
    margin: 0;
    text-align: center;
    
}

#demeconbreak{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    margin: 0 10% 0 10%;
    text-align: center;
    
}


#icn{
    background-color: white;
    /* line-height: 23px; */
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    color: darkblue;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    padding: 5 20 5 20;
}

@media screen and (max-width: 600px) {
    #icn {
        margin-left: 20%;
        margin-right: 20%;
    }
  }


.hero-image {
    background-image: url(./IMAGES/DemeconCOVER.jpg);
    background-color: #cccccc;
    height: 500px;
    padding: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-imagecap {
    background-image: url(./IMAGES/DemeconCOVER.jpg);
    background-color: #cccccc;
    padding: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-imagecontact {
    background-image: url(./IMAGES/DemeconCOVER.jpg);
    background-color: #cccccc;
    height: 90px;
    padding: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image h1, h3, h2 {
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .hero-imagecap h1, h3, h2 {
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .hero-image .sectionheading{
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .contactcolumn h3{
      text-align: left;
  }



  

  
  