/* NAVIGATION */
html{
    scroll-behavior: auto smooth;
}
.header{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

#header{
    padding-top: 15%;
    padding-bottom: 15%;
}
ul.topnav {
    list-style-type: none;
    margin: 2%;
    padding: 5px 10px;
    overflow: hidden;
    background-color:  rgba(255, 255, 255, 0.803);
    border-radius: 8px;
}


  
#logonohover a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.848);
}

ul.topnav li {
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}


  
ul.topnav li a {
    display: block;
    color: #121f83;
    font-family: karla;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}



#phone{
    padding: 10px 20px;
}

.phone{
    border: 1px solid #0b1877;
    border-radius: 8px;
}


ul.topnav li a:hover:not(.active) {
    background-color: #0b1877f1;
    color: white;
    border-radius: 8px;
}

  
ul.topnav li a.active {
    list-style-type: none;
    background-color:  #0b1877;
    color: white;
    border-radius: 8px;
}

  
ul.topnav li.right {
    float: right;
}


  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li{float: none;
        ul.topnav li.right, 
    }
}



/* FOOTER */
#copyright{
    font-size: 8px;
    font-style: italic;
}
.home2footer{
position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* #footer{
    font-weight: bold;
    margin: 0px;
    padding: 0px;

} */

ul.footer {
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0;
    overflow: hidden;
}

ul.footer li {float: left;
    padding: 14px;}


@media screen and (max-width: 600px) {
    ul.footer li {float: none;}
}




/* BUTTONS AND LINKS */
a:visited {
    color: #121f83;
  }

a {
   text-decoration:none;
   color: #121f83;
}

.button {
    background-color: white;
    border: none;
    color:#121f83;
    padding: 15px 30px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: karla;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 #00000037, 0 17px 50px 0 #00000037;
}

.active {
    color: white;
    background-color: #071159;
}




/* IMAGES */

@media screen and (max-width: 767px) {
    .brandImage, .casestudyimage1, .casestudyimage1head, .casestudyimage2, .casestudyimage2head {background-attachment: initial;}
}

.fullimage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.footerImage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 15px;
    margin-top: 15px;
   
}

.home2head{
    text-align: center;
    font-family: karla;
    color: #ffffff;

}

.brandImage{
    background: url(./IMAGES/DemeconCOVER.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
 }


.casestudyimage1{
    background: url(./IMAGES/CaseStudy01.jpg) no-repeat top; 
    background-size: cover;
    background-attachment: fixed;
    padding-top: 500px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.casestudyimage1head{
    background: url(./IMAGES/./CaseStudy01\ head.jpg) no-repeat top; 
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 50px;
 }

.casestudyimage2{
    background: url(./IMAGES/CaseStudy02.jpg) no-repeat top; 
    background-size: cover;
    background-attachment: fixed;
    padding-top: 500px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.casestudyimage2head{
    background: url(./IMAGES/./CaseStudy02\ head.jpg) no-repeat top; 
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    text-align: center;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 50px;
 }

 .australia{
    background-image: url(./IMAGES/AUSTRALIA.png);
    

}



/* TEXT */


@font-face {
    font-family: karla;
    src: url(./FONTS/Karla-Regular.ttf);
}
#logo{
    font-size: 70px;
    font-weight: bold;
    padding: 0px;
}

.sectionheading{
    font-size: 50px;
    
}

.subheading1{
    font-size: 30px;
}
body{
    font-family: karla;
}

.blurb {
    color: #0b113c;
    font-family: karla;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    /* padding-left: 90px;
    padding-right: 90px; */
    font-size: 16px;
}

.quote {
    color: #121f83;
    font-family: karla;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.triangleBullet {
    list-style-image: url(./IMAGES/TriangleBullet.png);
  }

.triangleBulletupper {
    list-style-image: url(./IMAGES/TriangleBullet.png);
  }

.triangleBulletupper li {
    text-transform: uppercase;
    padding: 2px;
}

span.a {
    display: inline-block;
}

h2, h3{
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 15px;
}
p{
    color: white;
}
h1, h3 {
   padding: 0;
   margin: 0;
}

#header h1{
    font-size: 90px;
}

h2{
    font-size: 40px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    #header h1 {
        font-size: 75px;
    }
}



/* INFOMRATION */

@media screen and (max-width: 600px) {
    .infowrapper {float: none;}
}

.field{
    background-color: #121f8348;
    padding: 10px 10% 10px 10px ;
    text-align: left;
    border-radius: 8px;  
    font-size: 15px;  
    font-family: karla;
}

.light{
    color: gray;
    font-size: 15px;
    font-family: karla;
}

.infowrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px;
    background-color: #fff;
    color: #444;
    margin-bottom: 15px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.b {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
.c {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.d {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.center {
    margin: auto;
    width: 80%;
  }


  /* cards */

  
  /* Container for flexboxes */
  .icons {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }

  .icons img{
      height: 30px;
      /* width: 30px; */
      margin-right: 5px;
  }

  .iconcolumn {
    flex: 15%;
    color: #071159;
    background-color: rgba(255, 255, 255, 0.769);
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    
  }

  .img-valign {
    vertical-align: middle;
    padding: 5px;
    
  }

  .iconcolumn:hover{
    background-color: rgba(255, 255, 255, 0.562);
  }

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .iconcolumn {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .icons {
      flex-direction: column;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin: 15px;
  }


  .contactcolumn {
    flex: 45%;
    color: #071159;
    background-color: rgba(220, 219, 226, 0.769);
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    padding: 8px 15px;
  }

  .contact img{
    height: 30px;
    /* width: 30px; */
    margin-right: 5px;
}